#w202312260431cfc6420d4 ._gallery_wrap {
  height: auto !important;
  width: 100%;
  aspect-ratio: 8/3;
}
#w202312260431cfc6420d4 .owl-stage-outer,
#w202312260431cfc6420d4 .item_gallary {
  border-radius: 16px;
  overflow: hidden;
}

.doz_sys .modal-content {
  border-radius: 16px;
}

#s20231215515826501121f .goods_payment .opt_block,
#s20231215515826501121f .order_quantity_area,
#doz_body .modal-content .goods_payment .opt_block,
#doz_body .modal-content .order_quantity_area {
  border-top: 1px solid #ebebeb !important;
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#s20231215515826501121f .shop-content .goods_payment .opt_block.bottom,
#doz_body .modal-content .shop-content .goods_payment .opt_block.bottom {
  display: table;
}
#s20231215515826501121f .goods_payment .opt_block,
#doz_body .modal-content .goods_payment .opt_block {
  padding: 0;
  padding-top: 24px;
  margin: 0;
  padding-bottom: 24px;
}
#s20231215515826501121f .opt_product_area .area_tit:before,
#s20231215515826501121f .order_quantity_area .area_tit:before,
#doz_body .modal-content .opt_product_area .area_tit:before,
#doz_body .modal-content .order_quantity_area .area_tit:before {
  display: none;
}
#s20231215515826501121f .area_tit,
#doz_body .modal-content .area_tit {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
#s20231215515826501121f .pay_detail .real_price,
#doz_body .modal-content .pay_detail .real_price {
  font-weight: 600;
}
#s20231215515826501121f .shop-content .goods_form .view_tit,
#doz_body .modal-content .shop-content .goods_form .view_tit {
  font-weight: 600;
  word-break: keep-all;
}
#s20231215515826501121f .option_btn_tools input.form-control,
#doz_body .modal-content .option_btn_tools input.form-control {
  border: none !important;
  color: #a5a5a5 !important;
  padding: 0 4px !important;
  height: 100% !important;
  width: 32px;
}
#s20231215515826501121f .option_btn_tools,
#doz_body .modal-content .option_btn_tools {
  border-radius: 48px;
  padding: 0 12px;
  border: 1px solid #ebebeb;
  background: none;
}
#s20231215515826501121f .area_price,
#doz_body .modal-content .area_price {
  position: static !important;
  transform: none;
  margin-left: 16px;
}
#s20231215515826501121f .option_btn_wrap,
#doz_body .modal-content .option_btn_wrap {
  display: flex;
  align-items: center;
}

#w202312264c40c926422e6 ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px;
  border-radius: 48px;
  background-color: #fff;
  box-shadow: 0px 0px 24px 0px rgba(230, 223, 199, 0.24);
  transform: translateY(-50%);
  position: relative;
  z-index: 20;
}
#w202312264c40c926422e6 li {
  display: block;
  width: 100%;
}
#w202312264c40c926422e6 li a {
  display: block;
  width: 100%;
  padding: 16px 24px;
  cursor: pointer;
  border-radius: 48px;
  border: 1px solid #fff;
  opacity: 0.4;
}
#w202312264c40c926422e6 li a span {
  font-weight: 600;
  line-height: 1em;
}
#w202312264c40c926422e6 li:hover a {
  opacity: 0.5;
}
#w202312264c40c926422e6 li.active a {
  opacity: 1;
  border-color: #ebebeb;
}

#w20231215a352a920284eb .col-md-2 {
  width: 100%;
}
#w20231215a352a920284eb .hidden-sm.left-menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px;
  border-radius: 48px;
  background-color: #fff;
  box-shadow: 0px 0px 24px 0px rgba(230, 223, 199, 0.24);
  transform: translateY(-50%);
  position: relative;
  z-index: 20;
}
#w20231215a352a920284eb .hidden-sm.left-menu ul li {
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 1em;
  cursor: pointer;
  border-radius: 48px;
  border: 1px solid #fff;
  opacity: 0.4;
}
#w20231215a352a920284eb .hidden-sm.left-menu ul li:hover {
  opacity: 0.5;
}
#w20231215a352a920284eb .hidden-sm.left-menu ul li.active,
#w20231215a352a920284eb .hidden-sm.left-menu ul li.on {
  opacity: 1;
  border-color: #ebebeb;
}
#w20231215a352a920284eb .hidden-sm.left-menu ul li a {
  border: none !important;
  margin: 0 !important;
  display: block !important;
  padding: 16px 24px !important;
  width: 100%;
  height: 100%;
  background: none !important;
}
#w20231215a352a920284eb .hidden-sm.left-menu ul li + li {
  margin-left: 16px;
}
#w20231215a352a920284eb .hidden-sm.left-menu .nav.sub-menu ul:before,
#w20231215a352a920284eb .hidden-sm.left-menu .nav:after {
  display: none;
}
.shop_mypage .col-md-10 {
  width: 100%;
}
.mypage .head {
  border-radius: 20px;
}

#w2023121836c7231f40773 ._text_wrap {
  height: auto !important;
  width: 100%;
  aspect-ratio: 32/5;
}
